<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Hands and Hearts Across America{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">

    <!-- For google maps js -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

</head>
<body>

    {% if 'current_user' not in session %}
        <script>
            window.fbAsyncInit = function() {
             FB.init({
               appId      : '1249894358398521',
               xfbml      : true,
               version    : 'v2.8'
             });
            };

            function(d, s, id){
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) {return;}
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>



        <a href="sign_up.html"></a>
        <a href="Log_In"></a>

    {% endif %}

     {% if 'current_user'  in session %}

        <a href="Log-Out"></a>

    {% endif %}
        
    TODO: Q IF I WANT THIS LINK ON THE BASE WHEN ITS
    <a href="index.html">Home</a>

     

   


    
    {% for message in get_flashed_messages() %}
            
        {{ message }}
           
    {% endfor %}


    {% block content %}{% endblock%}


<script src="https://code.jquery.com/jquery.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</body>
</html>