{% extends 'base.html' %}

{% block content %}

<h1>Hands and Hearts Across America</h1>

<div>
   
  <body>
    <div id="map"></div>
    <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
    </div>

    <div>
        <form action='/login' method='POST' class="form-inline">
            <input type='text' name='username' placeholder='username' class="form-contform-lg">
            <input type='password' name='password' placeholder='password' class="fcontrol form-lg">
            <input type='submit' name='login_btn' value='Log-in' class="btn btn-default">
            </form>
    </div>
    
        
  </body>
</html>
</div>


<div> 
    <h3> Our Mission Is Simple: </h3>
    <h2> Kindness, Inclusion, Respect </h2>
</div>

<div>
    <p>
        Lets gather on inaguration day, January 20, 2016 to reach out and hold the hand of our neighbors, literaly!
    </p>

    <p>
        No matter where you are in the country, no matter what causes are important to you, on January 21, 2016 we are all one nation. This site encourages you to chose a cause that matters to you donate and then stand with the people in your community to hold hands as a united people offering Kidness, Respect and a hand to hold. As we all reach out across america one nation.
    </p>
</div>
    
<div>
    <button>Sign-Up</button> <button>Log-In</button>
</div>

<script src="/static/javascript/index.js" type="text/javascript"> </script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ apikey }}&callback=initMap">
</script>
{% endblock %}