{% extends 'base.html' %}

{% block title %} Sign-Up {% endblock %}

{% block content %}

<h2>Lets Take a Stand and Share a Hand To Offer Repect and Kindess</h2>

<form action='/sign_up' method='POST'>
    <input type='email' name='email' placeholder='email'>
    <br>

    <input type='email' name='sec_email' placeholder='re-type email'>
    <br>

    <input type='text' name ='username' placeholder='username'>
    <br>

    <input type='password' name='password' placeholder='password'>
    <br>

    <input type='password' name='sec_password' placeholder='re-type password'>
    <br>

    <input id='sign_up_btn' type='submit' name='sign_up_btn' value="Sign-Up">

</form>

<div>
    <img src="">
    Map goes here
</div>

{% endblock %}